@import "../assets/styles/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto !important;
  margin: 0 15px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
span,
h6 {
  font-family: "Nunito", sans-serif;
}
p {
  font-family: "Nunito", sans-serif;
}
// globals.scss
html,
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  color: $primary-color;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(90, 90, 90);
}
label {
  @media (max-width: 480px) {
    font-size: 14px !important;
  }
}
@media (max-width: 991px) {
  br {
    display: none;
  }
}
/******button*********/
.btn-wrap {
  text-align: center;
  display: block;
  width: 100%;
}

.common-btn {
  padding: 5px 20px 6px;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
  border: solid 1px transparent;
  font-family: "Mulish", sans-serif;

  &.yellow-btn {
    background-color: $primary-dark-blue;
    color: #212121;
    font-family: "Mulish", sans-serif !important;

    &:hover {
      color: $primary-dark-blue;
    }
  }

  &.white-btn {
    background-color: $primary-dark-blue;
    color: $primary-dark-blue;

    &:hover {
      background-color: $primary-dark-blue;
      color: $primary-dark-blue;
    }
  }

  &.transperant-btn {
    background-color: transparent;
    border-color: $primary-dark-blue;
    color: $primary-dark-blue;

    &:hover {
      background-color: $primary-dark-blue;
      color: $primary-dark-blue;
    }
  }
}

.error {
  color: #f13838;
  font-size: 14px;
}

// loader style
.loader-spinner-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .spinner-border-wrap {
    padding: 8px;
    background-color: #fff;
    border-radius: 50px;
    height: 50px;
    width: 50px;
  }

  .spinner-border {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: -0.125em;
    border: 0.25em solid $red;
    border-right-color: rgba(4, 46, 243, 0.4);
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
  }
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    overflow-y: auto;
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.nav-item {
  position: relative;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-menu {
  z-index: 99999 !important;
}

@media (min-width: 992px) {
  .dropdown-menu {
    width: 582px;
    margin-left: -195px;
  }
}
@media (max-width: 768px) {
  .dropdown-menu {
    flex-direction: row !important;
  }
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}
p {
  font-size: 16px;
  line-height: 28px;
  @media (max-width: 480px) {
    font-size: 15px;
  }
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.header {
  // z-index: 999999 !important;
  @media (max-width: 768px) {
    overflow-y: auto;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

//gallery
.nav-link.active {
  background-color: #033099 !important;
  color: white !important;
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.image-grid > * {
  flex: 0 1 calc(30% - 16px);
  margin: 2px;
  box-sizing: border-box;
  max-width: calc(50% - 16px);
}
.custom-fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-card {
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
}

.image-card:hover {
  transform: scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #35109a;
}

//admin
.active_link {
  background-color: #f468721a;
}
.active_links {
  color: #033099;
}
.active_link_icon svg {
  color: #033099;
}

.active_link_icon {
  color: blue;
}
// joblisting page
.active-tab {
  background-color: #033099 !important;
  color: white;
}

.active_inactive_wrap {
  display: flex;
  justify-content: space-between;
  // padding: 10px;
  @media (max-width: 576px) {
    padding: 16px 0;
    flex-direction: column;
  }
}

.active_inactive_wrap button {
  border: 1px solid #033099 !important;
  font-size: 10px;
  font-weight: 600;
}
button.tab-button {
  padding: 0px 10px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid transparent;
  @media (max-width: 767px) {
    font-size: 13px;
    height: 35px;
    padding: 10px 20px !important;
  }
}
button.bipard-tab-button {
  padding: 0px 10px;
  width: fit-content;
  margin-right: 5px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid transparent;
  @media (max-width: 767px) {
    font-size: 13px;
    height: 35px;
    padding: 10px 20px !important;
  }
}

//scroll top

#google_translate_element {
  display: flex !important;
  justify-content: flex-end !important;
}

.goog-te-banner-frame {
  display: none !important;
  margin-top: -20px !important;
}
.skiptranslate {
  iframe {
    display: none !important;
  }
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}
.VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#google_translate_element {
  display: inline-block !important;
}
.goog-te-gadget {
  display: inline-block !important;
}
.translated-ltr {
  margin-top: -40px !important;
}
.goog-te-gadget .goog-te-combo {
  border: none !important;
  background-color: transparent;
}

.label {
  font-size: 13px;
  color: black;
  margin-top: 8px;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//custom input
.form-control {
  margin: 5px 0px !important;
  background: transparent !important;
  border: 1px solid #d3d3d3 !important;
  padding: 0.6rem 0.8rem !important;
  border-radius: 11px;
}
::placeholder {
  font-size: 14px;
  color: #706d6e5c !important;
}
// hide dropdown icon
.dropdown-toggle::after {
  border-top: 0.3em solid;
  // border-right: none !important;
  // border-left: none !important;
  border-bottom: 0;
}
.social-list {
  margin-left: 1.2rem;
  margin-right: 2rem;
  margin-top: 1.2rem;
  // border: 2px solid red !important;
}
.login-button {
  // margin-left: 3rem;
  padding: 0 !important;
  margin-right: 20px !important;
}
.dropdown_area {
  padding: 0 !important;
}

.tab-content {
  .card {
    @media (max-width: 991px) {
      max-width: 450px !important;
      width: 100% !important;
      // height: 300px !important;
    }
    @media (max-width: 767px) {
      height: auto !important;
    }
    .image-card {
      @media (max-width: 991px) {
        width: 450px !important;
        height: 300px !important;
      }
      @media (max-width: 767px) {
        height: auto !important;
      }
    }
  }
}

.image-grid {
  flex-wrap: wrap !important;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto !important;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  @media (max-width: 576px) {
    width: 90%;
    top: 8rem;
  }
}

.modal-title.h4 {
  text-align: center;
}

.modal-title.h4 span.sub-title {
  font-size: 22px;
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.image-grid > * {
  @media (max-width: 991px) {
    max-width: calc(50% - 0px) !important;
    flex-basis: calc(50% - 0px) !important;
  }
  @media (max-width: 767px) {
    max-width: calc(100% - 0px) !important;
    flex-basis: calc(100% - 0px) !important;
  }
}
.table {
  @media (max-width: 1024px) {
    overflow-x: auto;
    display: block;
  }
}

.text-danger {
  @media (max-width: 767px) {
    font-size: 13px !important;
  }
}
.form-select {
  border-radius: 11px !important;
  padding: 0.6rem 0.8rem !important;
}
.form-select {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

form {
  .card {
    @media (max-width: 767px) {
      width: 100% !important;
    }
    .btn {
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}
#imageUpload {
  @media (max-width: 767px) {
    font-size: 13px;
  }
}

/* Add this to your existing CSS file or create a new one */

.marquee-content {
  display: flex;
  animation: scrolling 20s linear infinite;
}

.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
  /*   flex: 0 0 20vw; */
  /*   margin: 0 2vw; */
  width: 100%;
  @media (max-width: 768px) {
    width: 100% !important;
    margin: 0 2vw;
    object-fit: contain;
  }
}

.marquee-item img {
  display: block;
  // width: 100%;
  @media (max-width: 768px) {
    object-fit: contain;
  }

  /*   padding: 0 20px; */
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-144vw);
  }
}
.modal-header {
  border-bottom: none !important;
}
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  background-color: white !important;
  @media (max-width: 576px) {
    // margin-top: -61.8px !important;
  }
}
.modal-body {
  padding: 0px !important;
}

.btn-close {
  border: 2px solid rgb(34, 10, 10) !important;
  background-color: white !important;
}

.modal-open {
  overflow-y: auto !important;
}

//
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tog_navbar {
  // background: #000;
  @media (max-width: 768px) {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 0;
    padding-bottom: 6rem;
  }
}

.not_found_container {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  @media (max-width: 576px) {
    padding: 5rem 0rem 2rem;
  }
  img {
    height: 12rem;
    @media (max-width: 576px) {
      height: 9rem;
    }
  }
  h2 {
    color: #1841d3;
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 2rem;
    @media (max-width: 768px) {
      font-size: 1.9rem;
    }
  }
  p {
    color: #8d8d8d;
    font-size: 0.95rem;
    width: 40%;
    text-align: center;
    line-height: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      width: 60%;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  a {
    padding: 0.8rem 1.5rem;
    border-radius: 1.6rem;
    background: #1841d3;
    color: white;
    font-size: 0.9rem;
  }
}

.main_box_container {
  position: relative;
}
