//font
$primary-font: "Carlito", serif;
$secondary-font: 'Gilroy';

// Primary Colors
$primary-dark-blue: #033099;
$primary-blue: #d16b86;

$primary-color: #808080;
$sliver-white: #f3f3f3;
$dark-gray: #4d5561;
$black: #2d2d29;
$white: #fff;
$red: #8a0b0b;
// Accent Colors

// Other Colors
$color-dark: #232c34;
